
	body {
		margin: 0;
	}
	canvas {
		display: block;
	}
	#motion {
		position: absolute;
		bottom: 10px;
		left: 0;
		color: #001521;
	}

	#info {
		position: absolute;
		top: 10vh;
		left: 5vw;
		font-size:4vh;
		color: #001521;
	}

	#mes {
		position: absolute;
		padding:2vh;
		width:100%;
		top:40vh;
		background-color: rgba(31, 157, 237,0.5);
		color:#ffffff;
		font-size:7vh;
		text-align: center;
		}

#mes span {
   display: inline-block;
}
.debug{
	display:none;
}
	#webacamCanvas { transform: rotateY(180deg); }

#settingBtn{
	position: absolute;
	top: 8vh;
	right: 1vw;
	font-size:4vh;
	color: #001521;
}

#adovice{
	position: absolute;
	bottom: 1vh;
	right: 1vw;
	font-size:2vh;
	color: #001521;
}
.balloon1-right {
	border-radius:10px;
  position: relative;
  display: none;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 40%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon1-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}

.balloon1-right p {
	font-size:4vh;
  margin: 0;
  padding: 0;
}
